table {
    display: inline-block;
    /*border-spacing: 3.6px 0;*/
}

a {
    text-decoration: none;
    color: #A13BCF;
}

table tr > td {
    padding: 3px 5px;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    color: #A13BCF;
    text-align: center;
    font-size: 7px;
    font-weight: bold;
}

table tr > td:nth-child(-n+2) {
    border: none;
}

table tr > td:nth-last-child(-n+2) {
    border: none;
}

table tr > td:nth-child(5) {
    border: none;
    vertical-align: bottom;
    padding: 0 7px;
    color: black;
}

table tr > td:nth-child(7) {
    background-color: #A13BCF;
    border-color: #7C22B8;
}

table tr > td:nth-child(5):hover {
    background-color: white;
    color: black;
}


table td:hover {
    background-color: #A13BCF;
    color: white;
    border-color: #7C22B8;
}

table td:hover a {
    color: white;
}

table tr > td:nth-child(-n+2):hover {
    background-color: white;
    color: #7C22B8;
    text-decoration: underline;
}

table tr > td:nth-last-child(-n+2):hover {
    background-color: white;
    color: #7C22B8;
    text-decoration: underline;
}

table tr > td:nth-child(-n+2):hover > a {
    color: #7C22B8;
}

table tr > td:nth-last-child(-n+2):hover > a {
    color: #7C22B8;
}

table tr > td:nth-child(7) > a{
    color: white;
}