a {
    color: blue;
    font-size: 25px;
    border-bottom: 2px solid;
    text-decoration: none;

}

a[href*="yandex"] {
    color: #f70;
}

a[href*="google"] {
    color: #666;
}

span:after {
    content: "\21F1";
    color: #f70;
    padding: 2px;
    }