table {
    border-collapse: collapse;
}

table td {
    border-bottom: black 2px solid;
    padding: 5px;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #DDEBF7;
}

td:nth-child(2n+3) {
    background-color: #F2F2DD;
}